html{
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(/img/bg3.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #33b965;
  min-height: 100%;
}

div.pageMargins{
  margin-left: 50px;
  margin-right: 50px;
}

.no-link {
  text-decoration:none;
}
.no-link:hover {
  text-decoration:none;
}
.no-link:link {
  text-decoration:none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active{
  color: #15e455 !important;
}

/* only betting */

.bannerimg {
  width: 100%;
  background-position: center;
  background-image: url("/assets/img/bg.jpg");
  margin-top: 20px;
}

.bg-light {
  border-color: #7f878e !important;
}

.border-dark {
  border-color: #2121213b !important;
}

.match-container {
  background-color: white;
  color: black;
}

.img-flag {
  max-width: 40px;
}

.information-container {
  background-color: #adf1d7;
  padding: 0 10px;
  text-align: center;
}

.finishmatch {
  background-color: #cfe2f3 !important;
}

.mobile-flag {
  visibility: hidden;
}

.hometeam {
  overflow-wrap: break-word;
  overflow: auto;
  max-width: 140px;
  font-size: 1.1em;
  font-weight: bold;
}

.betting button {
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 0;
}

.awayteam {
  overflow-wrap: break-word;
  overflow: auto;
  max-width: 140px;
  font-size: 1.1em;
  font-weight: bold;
}

.matchresult {
  font-size: 1.1em;
  font-weight: bold;
}

.openmorebetting {
  background-color: aliceblue;
  font-size: 1em;
}

.openmorebetting:hover {
  cursor: pointer;
}

.morebetting-container {
  margin: 0 auto;
  background-color: aliceblue;
}

.morebetting-container button {
  border-radius: 0;
}

.morebetting-title {
  font-size: 1em;
  margin-bottom: 0rem;
  color: black;
}

.morebetting-text {
  font-size: 1em;
  min-width: 125px;
}

.bettingbox {
  padding: 0 4px 10px 3px;
}

.front-match .img-flag {
  max-width: 60px;
}

.front-match-bets {
  width: 20%;
  margin: 0 auto;
}

.betInfo {
  text-align: center;
  border: 1px solid #0000003b;
  padding: 10px;
  background-color: #a70d0dd9;
  color: white;
}

.betInfo .lead {
  font-size: 15px;
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  .matchresult {
      visibility: hidden;
  }
}


/* MOBILE VIEW */

@media (max-width: 500px) {
  body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(/img/bg3.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  div.pageMargins{
    margin-left: 0;
    margin-right: 0;
  }

  .openmorebetting{
    height: 35px;
  }

  .betting button {
      font-size: 1em;
  }
  .match-container {
      font-size: 0.7em;
  }
  .img-flag {
      max-width: 30px;
  }
  .mobile-flag {
      visibility: visible;
  }
  .desktop-flag {
      display: none;
  }
  .information-container {
      padding: 3px 10px;
  }
  .morebetting-container button {
      font-size: 1em;
  }
  .front-match {
      margin-bottom: 5px;
  }
}